@charset "UTF-8";

* {box-sizing: border-box;}

/* input[type=text], select, textarea */
.review-write-text {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 20px;
}

/* input[type=submit], input[type=button] */ 
.review-write-btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

/* input[type=submit]:hover, input[type=button]:hover */
.review-write-btn:hover {
  background-color: #45a049;
}

.review-write-container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}


/* The Modal (background) */
.review-write-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: #474e5d; */
  background-color: rgba(0.2, 0, 0, 0.5);
  padding-top: 50px;
}

/* Modal Content/Box */
.review-write-modal-content {
  background-color: #fefefe;
  margin: auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 70%;
}

/* Add Zoom Animation */
.review-write-animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
 

/*******************************  shake img *************************/
.review-write-img-shake {
	width: 170px;
	height: 240px;
}

.review-write-img-shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/*******************************  shake img *************************/

/*********************** slide img *********************************/
.review-write-mySlides {display: none;
text-align: center;}
img {vertical-align: middle;
}

/* Slideshow container */
.review-write-slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.review-write-prev, .review-write-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.review-write-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.review-write-prev:hover, .review-write-next:hover {
  background-color: rgba(0.5,0.5,0.5,0.8);
}

/* The dots/bullets/indicators */
.review-write-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.review-write-active, .review-write-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.review-write-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*********************** slide img *********************************/

.review-write-pen {
	border-radius: 50%;
	font-size: 50px;
	width: 5%;
	position: fixed;
	margin-left: 1300px;
	margin-top: 650px;
}